.empt-div{
    width:300px;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
  
}

.circle-container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -100px;
}

.circle-card {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
    perspective: 1000px;
    position: relative;
    overflow: hidden;

}

.front{
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border-radius: 50%;
}

.back {
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: transform 0.5s;
    border-radius: 50%;
}

.back {

    transform: rotateY(180deg);
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    color: white; /* Cor do texto */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: -20px;

}

.circle-card img {
    width: inherit;
    height: inherit;
    border-radius: 80%;
    margin: 0;

}

.sobre-container p{
    font-size: 11px
}

.circle-card:hover .front {
    transform: rotateY(180deg);
}

.circle-card:hover .back {
    transform: rotateY(0deg);
}

.sobre-container.sidebar-open {
    margin-left: 300px; /* Ajuste o valor conforme a largura da sidebar */
  }
  
  .circle-container1.sidebar-open .circle-card:last-child {
    width: 200px; /* Faz o último card ocupar a linha toda */
    order: 1; /* Move o último card para a próxima linha */
  }