main .ranks{
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 1rem;
}

main .ranks h1{

  font-family: 'EmilysCandy';
  src: url('src/assets/EmilysCandy-Regular.ttf') format('truetype');

}

main .rank h2{

  display: flex;
  justify-content: center;

}

main .ranks .rank {
  margin: 0 auto;
  background-color: #FFFACD;
  padding: 30px 40px;
  width: 255px;
  border-radius: 30px;
  border-style: groove;
  margin-top: 40px;

}

main .ranks p{

  display: flex;
  justify-content: center;
  color: black;
 

}
