
.cardsbody {
    font-family: Arial, sans-serif;
    background-color: #1900ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  

  .rank_card {
    background: #08d101;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    margin: 20px;
  }
  

  .rank_card h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  

  .rank_card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .rank_card li {
    background: #fbff00;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
  }
  
  .rank_card li h2 {
    margin: 0 0 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .rank_card li p {
    margin: 5px 0;
    color: #666;
  }
  