.empt-div{
  width:300px;
  /* referente a sidebar!! */
}

main .ranks{
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin-top: 1rem;
}

main .ranks h1{

  font-family: 'EmilysCandy';
  src: url('src/assets/EmilysCandy-Regular.ttf') format('truetype');
  display: flex;
  justify-content: center;

}

main .rank h2{

  display: flex;
  justify-content: center;

}

main .ranks .rank {
  margin: 0 auto;
  background-color: #f8f4cbfd;
  padding: 30px 40px;
  width: 255px;
  border-radius: 25px;
  border-style: groove;
  margin-top: 40px;

}

main .ranks p{

  display: flex;
  justify-content: center;
  color: black;
 

}

main .fundo{

  background-color: rgba(245, 245, 245, 0.600);
  padding: 30px 40px;
  width: 380px;
}
