*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(to bottom, #9019f4 69%, #e011f7 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
